<div class="card">
  <div class="card-body">
    <h1 class="card-title">About</h1>
    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore voluptas soluta delectus sunt veniam labore distinctio nemo iure fugit quia repellendus, natus alias corrupti adipisci perferendis ducimus possimus quo reiciendis maiores tenetur odit amet. Aliquid vero error hic at obcaecati.</p>
  </div>
</div>