<div class="mt-4 p-5 bg-light text-white rounded">
<div class="text-dark">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">lorem8</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolore nostrum beatae nobis vitae rerum officiis odit ipsa, molestias, assumenda illo, magnam maiores obcaecati soluta expedita. Consequatur ipsum odit nisi!</p>

  <a href="http://youtube.com" target="_blank" class="btn btn-primary btn-lg">Our site</a>
</div>
  
</div>